<!doctype html>
<html>
<head>
  <title>Gumo Example</title>
</head>
<body>
  <h1>Gumo Example</h1>

  <h2>TODOs</h2>
  <h3>プロジェクト未指定</h3>
  <ul>
      <li>タスク1 (2019-12-01T00:00:00+00:00) <input type="button" value="done"></li>
      <li>✔タスク2 (2019-12-01T00:00:00+00:00) <input type="button" value="undone"></li>
  </ul>

  <h3>プロジェクト1</h3>
  <ul>
      <li>タスク3 (2019-12-01T00:00:00+00:00) <input type="button" value="done"></li>
      <li>✔タスク4 (2019-12-01T00:00:00+00:00) <input type="button" value="undone"></li>
  </ul>

  <h3>プロジェクト2</h3>
  <ul>
      <li>✔タスク5 (2019-12-01T00:00:00+00:00) <input type="button" value="undone"></li>
      <li>タスク6 (2019-12-01T00:00:00+00:00) <input type="button" value="done"></li>
  </ul>

</body>
</html>
